:root {
    --font: Roboto;
    --font-size: 16px;
    --text-color: #edf0ef;
    --primary-color: #242834; 
    --secondary-color: #1c2029;
}

html, body {
    margin: 0;
    padding: 0;
    /* color: var(--text-color); */
    color: black;
    /* background-color: var(--secondary-color); */
    background-color: white;
    font-family: var(--font);
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 0.8fr 3fr 2fr;
    grid-template-rows: 0.5fr 2fr 2fr;
    grid-template-areas: 
    "nav nav nav"
    "side content visual"
    "side content code"
}

nav {
    background-color: aqua;
    grid-area: nav;
}

.sidebar {
    background-color: blanchedalmond;
    grid-area: side;
}

.visualization {
    background-color: chartreuse;
    grid-area: visual;
}

.code-view {
    background-color: darkorchid;
    grid-area: code;
}

.content {
    background-color: deeppink;
    grid-area: content;
}

/* TOP NAVIGATION BAR */
/* .top-navigation {  
    box-sizing: border-box;
    box-shadow: 0 0 5px black;
    background-color: #242834;
    border-radius: 15px;
    height: 70px;
    padding: 20px;
    margin: 20px;
    color: #edf0ef;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.top-navigation-wrap { 
    box-sizing: border-box;
    font-size: 30px;
} */

/* MAIN CONTENT */

/* .main-content {
    box-sizing: border-box;
    box-shadow: 0 0 5px black;
    background-color: #242834;
    border-radius: 15px;
    margin: 20px;
    padding: 20px;
    width: 50%;
    height: 550px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
} */
